body{
    background-color:#FFE09F;

}
.container.mainPage{
    padding:20px;
    padding-right:0;
    background-color:#FFE09F;

}

#filterContainer{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:400px;
}
#tasksContainer{
    position:absolute;
    top:0;
    left:400px;
    bottom:0;
    right:0;
    width: calc(100% - 440px);
    min-width:900px;

}
.panel.panel-default.taskListing{
    height:auto;
    background-color:white;
    color:black;
}

.taskRight{
    float:right;
    width:auto;
}
.well{
    background-color: #FFFFFF;
    /*background-color:rgba(177, 57, 54, .4);*/
    /*background-color:rgba(33, 104, 107, .1);*/
}
.taskLeft{
    float:left;
    width:calc(100% - 380px);
    vertical-align: text-top;
    font-size:14pt;

}
.taskDetail{
    display:inline-block;
    width:180px;
    margin: 0 auto;
    font-size:18pt;
}
.taskDetail.head{
    font-weight:600;
}
.categoryContainer{
    margin-top:-25px;
    margin-left:10px;
    font-size:16pt;
    font-weight:600
}
#sel2{

}

.taskListing:hover{
    cursor:pointer;
    color:#B13936;

}