#form{
    width:400px;
    margin:0 auto;
    height:300px;
}

.form-group {
	padding: 4px 0px;
	margin-bottom:10px;
}

#container{
    padding-top:45px;
    background-color:#FFE09F
}

#timePayContainer div {
    display:inline-block;
    width:198px;
}
#time, #pay {
    width:190px;
}

#time {
	margin-right:7px;
}

#pay {
	margin-left:7px;
}

.pagination-centered h1 {
    padding-bottom:20px;
    font-weight:700;
    font-size:32pt;
    font-family:inherit;
}

.btn {
	margin-top:10px;
	background-color:#21686B;
}

.btn:hover {
	background-color:#A82E08;
}